.content {
	padding: 16px;

	.comments {
		.mat-card {
			margin: 20px 0;
			overflow: auto;

			.mat-card-footer {
				opacity: .5;
				padding: 0 10px;
			}
		}
	}

	.inline-list {
		padding: 0;

		li {
			display: inline-block;
			margin: 0 5px;
		}
	}

	.ipc-top {
		position: absolute;
		right: 0;
		top: 0;

		.ipc-cell {
			margin: 0 10px;
			text-align: center;
		}
	}

	.col {
		position: relative;

		&:last-of-type {
			padding: 4px 16px;
		}

		img {
			max-width: 100%;
		}
	}
}

@media screen and (min-width: 720px) {
	.ipc-top {
		position: relative;
		right: auto;
		top: auto;
	}
}
